{
        order coraza_waf first
}

prod.lab.external:80 {
        coraza_waf {
                load_owasp_crs
                directives `
                   Include /ruleset/coraza.conf
                   Include /ruleset/prod.conf
                   Include @owasp_crs/*.conf
                   SecRuleEngine On
                `
        }
        reverse_proxy juiceshop_prod:3000
}

testing.lab.external:80 {
        coraza_waf {
                load_owasp_crs
                directives `
                   Include /ruleset/coraza.conf
                   Include /ruleset/testing.conf
                   Include @owasp_crs/*.conf
                   SecRuleEngine On
                `
        }
        reverse_proxy juiceshop_testing:3000
}